@page
@model SimplerWebApp.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimplerWebApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h1>My first page</h1>
    <p>Server date and time @DateTime.Now</p>
</body>
</html>