body {
    background-color:orange;
    color:purple;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    font-size:5em;
}
p {
    font-size: 2em;
}